body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    padding: 50px;
    line-height: 1.5em;
    position: relative;
}

button { 
    border: 1.5px solid black;
    padding: 15px;
    border-radius: 6px;
    border-color: #ffffff;
    background-color: transparent;
    color: white;
    transition: all 0.3s ease 0s;
}

button:hover {
    border: none;
    background-color: white;
    color: #333;
}

#quit {
    border-color: #333;
    color: #333;
    margin-left: 47rem;
    margin-top: -0.5%;
}

#quit:hover {
    border: none;
    background-color: #333;
    color: white;
}

#startgame {
    align-content: center;
    margin-left: 35%;
    margin-right: auto;
    margin-top: 38%;
    z-index: 1000;
    position: relative;
    z-index: 11;
    border-color: #333;
    color: #333;
}

#startgame:hover {
    border: none;
    background-color: #333;
    color: white;
}

div {
    padding: 20px;
}

#playerone {
    margin-bottom: 36rem;
    font-size: 40px;
    margin-left: -2.7rem;
    color: white;
}

#playertwo {
    margin-bottom: 36rem;
    font-size: 40px;
    margin-left: 2.7rem;
    color: white;
}

#gamecontrol {
    background-color: transparent;
    position: absolute;
    z-index: 10;
    align-content: center;
    margin-left: 430px;
    margin-right: auto;
    margin-top: -4%;
}

#score {
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 30px;
    width: 100%;
    margin-left: -50px;
    margin-top: -50px;
    text-align: center;
}

#score p{
    margin-left: -45px;
    margin-top: 2px;
    font-size: 18px;
    letter-spacing: 2px;
}

#pass {
   display: flex;
   justify-content: center; 
   margin-left: 20px;
   margin-top: 10px;
}

#game {
    background-color: transparent;
    position: absolute;
    z-index: 10;
    margin-right: auto;
    text-align: center;
    color: white;
}

#actions {
    background-color: none;
    position: absolute;
    z-index: 10;
}

.split {
    height: 100%;
    width: 47.2%;
    position: fixed;
    z-index: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #5997DB;
}

.right {
    right: 0;
    background-color: #5FD6D3;
}

.leftside {
    margin-left: 15%;
    margin-top: 36%;
}

.rightside {
    margin-left: 67%;
    margin-top: 36%;
}

.leftdice {
    margin-left: 11.2%;
    margin-top: 15%;
}

.rightdice {
    margin-left: 63.9%;
    margin-top: 15%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
    z-index: 20;
}

#overlay article {
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
    width: 52vw;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    overflow-y: scroll;
}

#gametitle{
    text-align: center;
    margin-bottom: -1rem;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

#one {
    text-align: center;
}

footer {
    margin-top: 49%;
    text-align: center;
    color: white;
    position: relative;
    font-size: 12px;
}

footer a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: #333;
}